# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db_name

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
APP_PORT=3000

# JWT
JWT_SECRET=some_very_long_and_random_string
JWT_EXPIRES_IN=1h